body {
  font-family: "Lato", sans-serif;
  color: white;
  margin: 0;
  font-size: 10px;
  box-sizing: border-box; }

.presentation {
  background-image: url("./Images/pope.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 30px 90px 80px 90px;
  box-shadow: inset 0px 80px 14px -2px rgba(0, 0, 0, 0.44);
  position: relative; }
  @media only screen and (max-width: 480px) {
    .presentation {
      padding: 10px 70px 80px 70px; } }
  @media only screen and (min-width: 900px) {
    .presentation {
      background-size: cover; } }

.header {
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center; }
  @media only screen and (max-width: 680px) {
    .header {
      grid-template-rows: repeat(2, 30px);
      grid-template-columns: 100%; } }
  .header__title {
    margin: 0; }
    @media only screen and (max-width: 680px) {
      .header__title {
        text-align: center;
        margin-bottom: 10px; } }
    @media only screen and (max-width: 800px) {
      .header__title {
        font-size: 1rem; } }
    @media only screen and (min-width: 900px) {
      .header__title {
        font-size: 2.3rem; } }
  .header-nav {
    display: flex;
    justify-content: space-between; }
    .header-nav__option {
      display: inline-block;
      font-size: 1.1rem;
      color: white;
      text-decoration: none;
      font-weight: normal;
      padding-top: 5px; }
      @media only screen and (max-width: 900px) {
        .header-nav__option {
          font-size: 0.7rem; } }
      @media only screen and (max-width: 680px) {
        .header-nav__option {
          text-align: center;
          flex-flow: wrap;
          font-size: 0.7rem; } }
    .header-nav__search {
      background-image: url("./Images/search.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 30px;
      width: 30px; }
      @media only screen and (max-width: 680px) {
        .header-nav__search {
          height: 25px;
          width: 25px; } }

.square {
  background: gray;
  background-size: contain;
  padding: 0; }
  @media only screen and (max-width: 650px) {
    .square {
      margin-top: 1px;
      width: 160px;
      height: 140px; } }
  @media only screen and (min-width: 651px) {
    .square {
      margin-top: 10px;
      width: 215px;
      height: 192px; } }
  @media only screen and (min-width: 681px) {
    .square {
      margin-top: 40px; } }
  @media only screen and (min-width: 900px) {
    .square {
      width: 350px;
      height: 285px;
      margin-top: 40px; } }
  @media only screen and (min-width: 1200px) {
    .square {
      width: 500px;
      height: 370px;
      margin-top: 80px; } }

.opinion {
  position: absolute;
  left: 90px;
  top: 75px;
  width: 130px;
  height: 115px; }
  @media only screen and (min-width: 480px) {
    .opinion {
      top: 95px;
      left: 100px;
      width: 130px;
      height: 115px; } }
  @media only screen and (min-width: 651px) {
    .opinion {
      width: 182px;
      height: 160px;
      top: 120px; } }
  @media only screen and (min-width: 900px) {
    .opinion {
      width: 270px;
      height: 290px;
      left: 130px;
      top: 135px; } }
  @media only screen and (min-width: 1200px) {
    .opinion {
      width: 400px;
      height: 320px;
      left: 140px;
      top: 180px;
      color: white; } }
  .opinion > h2 {
    margin: 1px 0 2px 0;
    font-size: 1.1rem; }
    @media only screen and (min-width: 651px) {
      .opinion > h2 {
        font-size: 1.3rem; } }
    @media only screen and (min-width: 900px) {
      .opinion > h2 {
        font-size: 2.4rem;
        margin: 5px 0 15px 0; } }
    @media only screen and (min-width: 1200px) {
      .opinion > h2 {
        font-size: 3rem;
        margin: 10px 0 25px 0; } }
  .opinion > p {
    font-size: 0.5rem;
    margin-bottom: 2px;
    font-style: italic; }
    @media only screen and (min-width: 651px) {
      .opinion > p {
        font-size: 0.8rem; } }
    @media only screen and (min-width: 900px) {
      .opinion > p {
        font-size: 1rem;
        margin-bottom: 16px; } }
    @media only screen and (min-width: 1200px) {
      .opinion > p {
        font-size: 1.5rem;
        margin-bottom: 30px; } }
  @media only screen and (max-width: 480px) {
    .opinion > span {
      font-size: 0.5rem; } }
  @media only screen and (min-width: 651px) {
    .opinion > span {
      font-size: 0.5rem; } }
  @media only screen and (min-width: 900px) {
    .opinion > span {
      font-size: 0.7rem; } }
  @media only screen and (min-width: 1200px) {
    .opinion > span {
      font-size: 1rem; } }
  @media only screen and (max-width: 480px) {
    .opinion div + span {
      font-size: 0.5rem; } }
  @media only screen and (min-width: 651px) {
    .opinion div + span {
      font-size: 0.5rem; } }
  @media only screen and (min-width: 900px) {
    .opinion div + span {
      font-size: 1.5rem; } }
  @media only screen and (min-width: 1200px) {
    .opinion div + span {
      font-size: 1.8rem; } }

.wikipedia {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 4px 0 6px 0; }
  @media only screen and (min-width: 900px) {
    .wikipedia {
      margin: 8px 0 10px 0; } }
  .wikipedia__logo {
    height: 10px;
    width: 10px;
    height: 15px;
    width: 15px; }
    @media only screen and (min-width: 900px) {
      .wikipedia__logo {
        height: 20px;
        width: 20px; } }
  .wikipedia__link {
    color: white;
    font-size: 0.3rem;
    margin-left: 2px; }
    @media only screen and (min-width: 651px) {
      .wikipedia__link {
        font-size: 0.5rem; } }
    @media only screen and (min-width: 651px) {
      .wikipedia__link {
        font-size: 0.7rem; } }

.thumbs {
  display: grid;
  grid-template-columns: repeat(2, 80px);
  grid-template-rows: 1fr;
  height: 30px; }
  @media only screen and (min-width: 651px) {
    .thumbs {
      grid-template-columns: repeat(2, 107.5px); } }
  @media only screen and (min-width: 900px) {
    .thumbs {
      grid-template-columns: repeat(2, 175px);
      height: 60px; } }
  @media only screen and (min-width: 1200px) {
    .thumbs {
      grid-template-columns: repeat(2, 250px);
      height: 70px; } }
  .thumbs__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9; }
    .thumbs__thumb--up {
      background: #00e2e2; }
    .thumbs__thumb--down {
      background: #e7aa03; }
  .thumbs__logo {
    background-image: url("./Images/thumb-up.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    width: 15px; }
    @media only screen and (min-width: 900px) {
      .thumbs__logo {
        height: 25px;
        width: 25px; } }
    @media only screen and (min-width: 1200px) {
      .thumbs__logo {
        height: 35px;
        width: 35px; } }
    .thumbs__logo--down {
      transform: rotateZ(180deg); }

.timeline {
  display: grid;
  grid-template-columns: 30% 70%;
  align-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  margin-top: 10px; }
  @media only screen and (min-width: 1000px) {
    .timeline {
      grid-template-columns: 27% 73%; } }
  .timeline__text {
    background: black;
    opacity: 0.3;
    text-align: right;
    padding: 10px 7px 0 0;
    color: white;
    text-transform: uppercase;
    font-size: 0.5rem;
    position: relative;
    z-index: 3; }
    @media only screen and (min-width: 900px) {
      .timeline__text {
        font-size: 0.7rem; } }
    @media only screen and (min-width: 1000px) {
      .timeline__text {
        font-size: 1.3rem; } }
    .timeline__text::after {
      content: " ";
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid black;
      position: absolute;
      top: 15px;
      right: -10px; }
  .timeline__days {
    opacity: 0.7;
    color: black;
    font-size: 0.8rem;
    background: white;
    padding: 7px 0 7px 20px; }
    @media only screen and (min-width: 900px) {
      .timeline__days {
        font-size: 1rem; } }
    @media only screen and (min-width: 1000px) {
      .timeline__days {
        font-size: 1.8rem; } }
    .timeline__days > span {
      font-weight: bold; }

/*# sourceMappingURL=styles.css.map */
