.presentation 
    background-image: url('./Images/pope.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: top
    padding: 30px 90px 80px 90px
    box-shadow: inset 0px 80px 14px -2px rgba(0,0,0,0.44)
    position: relative
    @media only screen and (max-width: 480px)
        padding: 10px 70px 80px 70px
    @media only screen and (min-width: 900px)
        background-size: cover
