.presentation 
    background-image: url('./Images/pope.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: top
    height: 100vh 
    padding: 50px 100px 35px 100px
    @media only screen and (max-width: 480px)
        padding: 25px 50px 10px 50px
    @media only screen and (min-width: 900px)
        background-size: cover
