.presentation 
    background-image: url('./Images/pope.jpg')
    background-repeat: no-repeat
    background-size: contain
    height: 100vh 
    padding: 50px 90px 35px 90px
    @media only screen and (max-width: 480px)
        padding: 20px 50px 5px 50px
    @media only screen and (min-width: 1000px)
        background-size: cover
