.wikipedia
    display: flex
    justify-content: flex-start
    align-items: center
    margin: 4px 0 6px 0
    &__logo
        height: 10px
        width: 10px
    &__link
        color: white
        font-size: 0.3rem
        margin-left: 2px